:root {
  --blue: rgb(21, 36, 77);
  --white: rgb(233, 232, 232);
  --cream: rgb(248, 208, 195);
  --blue-input: rgb(21, 36, 77, 0.70);
  --light-blue:  #71a9ce;
  --grey: #525151;
}
body {
  background-color: var(--blue);
  font-family: Arial, Helvetica, sans-serif;
}

/* <header> setup */
header {
  display: flex;
  justify-content: center;
  border-bottom: thick rgb(5, 21, 39) solid;
  font-family: 'Courier New', Courier, monospace;
}
h1 {
  color: rgb(54, 145, 206);
  font-size: 3rem;
  font-weight: bolder;
}

/* <main> setup */
.wrapper {
  display: flex;
  min-height: 100vh;
}
.side-content {
  background-color: var(--cream);
  /* flex-grow: 1; */
}
.main-content {
  background-color: var(--white);
  flex-grow: 2;
}

/* table setup */
.main-content {
  display: flex;
  justify-content: center;
}
table {
  margin: 2%;
  width: 70%;
  border-collapse: collapse;
}
.row-heading {
  background-color: var(--blue);
  color: var(--white);
}
th {
  padding: 1.3rem;
}

/* side content */
.form__book-wrapper {
  margin: 1.5rem;
  margin-right: 2.5rem;
  margin-top: 4rem;
}
.book-input {
  padding: 5px;
}

/* submit button */
.btn-submit {
  padding: 1.3rem;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 8px;
  border: none;
}
.btn-submit__wrapper {
  margin-top: 1.5rem;
}

/* form input */
.text-input {
  min-width: 100%;
  border: none;
  padding-top: 1.1rem;
  padding-bottom: .5rem;
  background-color: var(--cream);
  color: var(--blue);
  border-bottom: dotted 2px;
}
::placeholder {
  color: var(--blue-input);
  font-size: 120%;
}

/* checkbox for read? */
.check-input {
  padding-top: 1.5rem;
}
#is-read {
  padding: 2rem;
  border-radius: 4px;
}
label {
  color: var(--blue-input);
}

/* remove the text box for text input */
.text-input:focus {
  outline: none;
  border-bottom: 2px dotted #dd2828;
}


/* format body of table */
td {
  padding: .7rem;
  background-color: var(--light-blue);
  font-size: 13px;
}

th, td {
  border: var(--grey) thin solid;
}


/* delete button */
.delete-button {
  background-color: #dd2828;
  padding: .4rem;
  border: solid thin var(--grey);
  border-radius: 3px;
}